<section class="challenge-comments js-only">
  <h2>Audience Participation</h2>

  <script type="module" src="https://saffronmurray.com/meh/meh.esm.js"></script>

  <meh-form site="challenge" external-styles="/public/css/meh.css">
    <meh-login site="challenge" external-styles="/public/css/meh.css"></meh-login>
  </meh-form>
  <meh-comments site="challenge" external-styles="/public/css/meh.css"></meh-comments>

  <p class="comments-credit">Comments system: <a href="https://github.com/splitbrain/meh">Meh</a> from <a href="https://www.splitbrain.org/">Splitbrain</a></p>
</section>
