// Cormorant Infant
@font-face {
	font-family: "CormorantInfant"; // by Catharsis Fonts - https: //www.myfonts.com/collections/catharsis-fonts-foundry
	src: url("/public/fonts/CormorantInfant-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CormorantInfant";
	src: url("/public/fonts/CormorantInfant-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "CormorantInfant";
	src: url("/public/fonts/CormorantInfant-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "CormorantInfant";
	src: url("/public/fonts/CormorantInfant-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

// Rye
@font-face {
	font-family: "Rye"; // by Nicole Fally - https://www.fontsquirrel.com/fonts/list/foundry/nicole-fally
	src: url("/public/fonts/Rye-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

// MonaspaceXenon
@font-face {
	font-family: "MonaspaceXenon"; // by GitHub - https://github.com/githubnext/monaspace#monaspace
	src: url("/public/fonts/MonaspaceXenonVarVF.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

// BarlowCondensed
@font-face {
	font-family: "BarlowCondensed"; // by Jeremy Tribby - https://tribby.com/fonts/barlow/
	src: url("/public/fonts/barlowcondensed-light-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "BarlowCondensed";
	src: url("/public/fonts/barlowcondensed-lightitalic-webfont.woff2")
		format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "BarlowCondensed";
	src: url("/public/fonts/barlowcondensed-semibold-webfont.woff2")
		format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "BarlowCondensed";
	src: url("/public/fonts/barlowcondensed-semibolditalic-webfont.woff2")
		format("woff2");
	font-weight: bold;
	font-style: italic;
}
