$textcolour: #000;
$linkcolour: #333;
$bgcolour: #fafafa;
$linecolour: #000;
$main-font: CormorantInfant, serif;
$headline-font: $main-font;
$nav-font: BarlowCondensed, sans-serif;
$link-font: $nav-font;
$spanfont: Rye, serif;
$side-padding: 30px;
