:host {
	div.sort-options {
		margin-top: 3em !important;

		& > * {
			font-size: 1.25rem;
			display: inline-block;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	div.comment {
		font-size: 1.25rem;
		line-height: 1.5;

		& > :last-child {
			padding-bottom: 1.25rem;
		}

		time.date {
			font-size: 1rem;
		}
	}

	div.no-comments {
		font-size: 1.25rem;
		margin-top: 2rem;
		padding-block: 2rem;
		border-top: 1px solid var(--meh-default-foreground);
	}
}
