.meh-form-container {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea {
		border: none;
		border-bottom: 1px solid var(--meh-default-foreground);
		background-color: #f0f0f0;

		&:focus {
			outline: 1px solid var(--meh-default-foreground);
		}
	}

	label,
	input[type="text"],
	input[type="email"],
	input[type="url"] {
		font-family: Cormorant, serif;
		font-size: 1.25rem;
	}

	textarea {
		font-family: MonaspaceXenon, monospace;
		font-size: 1.25em;
	}
}
