---
layout: home.njk
bodyclass: challenge
---

<section class="challenge challenge-intro">
{% markdown %}
## March 2025: "Circles" by Joe Satriani

The challenge: to record a plausible playthrough of "Circles" from start to finish, ideally in one take.
{% endmarkdown %}
</section>
