---
layout: home.njk
bodyclass: challenge
---

<section class="challenge challenge-intro">
{% markdown %}
## March 2025: "Circles" by Joe Satriani

The challenge: to record a plausible playthrough of "[Circles](https://song.link/gb/i/405602068)" from start to finish.
{% endmarkdown %}
</section>

<section class="challenge challenge-entries">
  <div class="entry">
    <h3>Player 1: Cussons Fiasco</h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Qlw10VxdcBE?si=Oa5G5dTBe8NA1BWL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>CF says:</h3>
    <blockquote>
{% markdown %}
I think this was the third try over the course of a week. The first time I thought I'd pretty much nailed it on the first take, but wasn't 100% happy with one bit.

Then on the second go I rushed the clean parts and they sounded out of time. Third time's the charm, although this time I did need about 10 takes to get all the way through and I still missed the volume knob coming out of the solo section.

Ah well. I'm pretty happy with it.

The clean tone is from Neural DSP's [Archetype: Cory Wong](https://neuraldsp.com/plugins/archetype-cory-wong) and the distortion tone is from [Archetype: Rabea](https://neuraldsp.com/plugins/archetype-rabea), and I have my Morley Bad Horsie wha on the distortion channel. I had to buy a new A/B box to do this video as my 30-year old one broke after the second attempt.

C'est la vie, innit?
{% endmarkdown %}
    </blockquote>
  </div>

  <div class="entry">
    <h3>Player 2: Pearl Fiasco</h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/DNVp63MhMOc?si=z7-9JxnALlEhia5P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>PF says:</h3>
    <blockquote>
{% markdown %}
Using a Les Paul, am I'm sure Joe would have if he'd had one available 🙂
{% endmarkdown %}
    </blockquote>
  </div>
</section>
