---
layout: home.njk
bodyclass: challenge
---

<section class="challenge challenge-intro">
{% markdown %}
## April 2025: Steve Vai’s solo from “Ladies’ Nite in Buffalo?” by David Lee Roth

* **The challenge**: "[Ladies' Nite in Buffalo?](https://song.link/gb/i/432798272)" from David Lee Roth's 1986 album **Eat 'Em and Smile** has a slow sultry groove and a fantastically slinky solo played by—of course—Steve Vai. Record a decent version of it start to finish, no comps, no filter.
{% endmarkdown %}
</section>

<section class="challenge challenge-entries">

  <div class="entry">
    <h3>Player 1: Pearl Fiasco</h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FDtZo2E63ao?si=mWnGo5Z4qA39mDXd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>PF says:</h3>
    <blockquote>
{% markdown %}
Eat 'em And Smile is probably my favourite Vai, and this is one of his best. I've been playing it (wrong) for decades, so finally decided to sit down and get it as close as I can.
{% endmarkdown %}
    </blockquote>
  </div>

  <div class="entry">
    <h3>Player 2: Cussons Fiasco</h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/H00BW8Ad1FY?si=U1CCdLfCFzu2_yUJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>CF says:</h3>
    <blockquote>
{% markdown %}
This one took looooooads of takes to get even this close. For some reason the fast hammer-on section starting at 0:23 just wouldn't come together for me. I'm too out of practice.

The tone is coming from Neural DSP's awesome [Soldano SLO-100 X](https://neuraldsp.com/plugins/soldano-slo-100) plugin, and the guitar is of course my original 1987 [Ibanez JEM777LNG](https://ibanez.fandom.com/wiki/JEM777).
{% endmarkdown %}
    </blockquote>
  </div>

</section>
