---
layout: challenge.njk
bodyclass: challenge
nocomments: true
---

<section class="challenge challenge-intro">
{% markdown %}
## April 2025: The solo section from "Strange" by Joe Satriani

* **The challenge**: There are two frenetic solos stacked back-to-back in the middle of Satriani's "[Strange](https://song.link/gb/i/407604565)". That's right, it's a back-to-back Satch-attack stack track, Jack. Our heroes must play each solo end-to-end with no stitching, but it **is** OK if they are from separate takes.
{% endmarkdown %}
</section>

<section class="challenge challenge-entries">

  <div class="entry entry-awaiting">
    <h3>Player 1</h3>
    <p>awaiting entry</p>
  </div>

  <div class="entry entry-awaiting">
    <h3>Player 2</h3>
    <p>awaiting entry</p>
  </div>

</section>
