---
layout: challenge.njk
---

<section class="challenge challenge-intro">
{% markdown %}
## April 2025: Steve Vai’s solo from “Ladies’ Nite in Buffalo?” by David Lee Roth

* **The challenge**: "[Ladies' Nite in Buffalo?](https://song.link/gb/i/432798272)" from David Lee Roth's 1986 album **Eat 'Em and Smile** has a slow sultry groove and a fantastically slinky solo played by—of course—Steve Vai. Record a decent version of it start to finish, no comps, no filter.
{% endmarkdown %}
</section>

<section class="challenge challenge-entries">
  <div class="entry">
    <h3>Player 1: Cussons Fiasco</h3>
    <iframe src="https://www.youtube-nocookie.com/embed/Qlw10VxdcBE?si=Oa5G5dTBe8NA1BWL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>CF says:</h3>
    <blockquote>
{% markdown %}
Lorem
{% endmarkdown %}
    </blockquote>
  </div>

  <div class="entry">
    <h3>Player 2: Pearl Fiasco</h3>
    <iframe src="https://www.youtube-nocookie.com/embed/DNVp63MhMOc?si=z7-9JxnALlEhia5P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>PF says:</h3>
    <blockquote>
{% markdown %}
Lorem
{% endmarkdown %}
    </blockquote>
  </div>
</section>
