// Ognes
@font-face {
	font-family: "Ognes";
	src: url("/public/fonts/ognes-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Ognes";
	src: url("/public/fonts/ognes-italic-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

// Spanish Archer
@font-face {
	font-family: "SpanishArcher";
	src: url("/public/fonts/SLTFSpanishArcher-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
