$textcolour: #000;
$linkcolour: #333;
$bgcolour: #fafafa;
$linecolour: #000;
$main-font: Ognes, serif;
$headline-font: "SpanishArcher", serif;
$nav-font: sans-serif;
$link-font: $nav-font;
$spanfont: serif;
$side-padding: 30px;
