---
layout: home.njk
bodyclass: page
---

<section class="previous">
{% markdown %}
## Previous challenges

* MMMM YYYY: ["Track name" by Artist](/devnull)
* MMMM YYYY: [Solo section from "Track name" by Artist](/devnull)
* MMMM YYYY: [Intro to "Track name" by Artist](/devnull)
* MMMM YYYY: ["Track name" by Artist](/devnull)
{% endmarkdown %}
</section>
