@import "vars";

:root {
	--meh-default-accent: #222;
	--meh-default-background: #f8f9fa;
	--meh-default-foreground: #212529;
	--meh-default-spacing: 1.2rem;
	--meh-default-border-radius: 0px;
	--meh-default-success: green;
	--meh-default-error: darkred;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	color: $textcolour;
	background-color: $bgcolour;
	display: flex;
	flex-direction: column;
}
