main {
	width: 100%;
	max-width: 1200px;
	margin: 2rem auto;
	flex: 1 1 auto;
}

section {
	padding-block: 2rem;
	border-bottom: 1px solid $linecolour;
	padding-inline: $side-padding;
}

footer {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	flex: 0 1 auto;
}
