@import "vars";

nav {
	border-bottom: 1px solid $linecolour;
	font-family: $nav-font;

	ul {
		list-style: none;
		margin: 0 30px;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: flex-end;

		li {
			margin: 0;
		}

		li + li {
			&::before {
				content: "•";
				padding-right: 1rem;
			}
		}
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	a:hover {
		background: none;
		color: $linkcolour;
		text-decoration: underline;
	}
}
