body {
	font-family: $main-font;
}

p,
ul {
	margin-bottom: 1em;
}

p:last-child {
	margin-bottom: 0;
}

li {
	margin-bottom: 0.5em;
}

li:last-child {
	margin-bottom: 0;
}

p,
li,
legend,
label,
input,
textarea {
	font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headline-font;
	font-weight: normal;
	margin-bottom: 1rem;
	margin-inline: $side-padding;
}

h1 {
	font-style: italic;
}

h1 span {
	font-family: $spanfont;
	text-transform: uppercase;
	font-size: 2rem;
	font-style: normal;
}

h1 abbr {
	font-variant-caps: all-small-caps;
	text-decoration: none;
}

h2 {
	font-size: 2rem;
	font-variant-caps: small-caps;
}

section p {
	margin-inline: $side-padding;
}

body.home {
	h1 span {
		font-size: 4rem;
	}
}
