body {
	font-family: $main-font;
}

p,
ul {
	margin-bottom: 1em;
}

p:last-child {
	margin-bottom: 0;
}

li {
	margin-bottom: 0.5em;
}

li:last-child {
	margin-bottom: 0;
}

p,
li,
legend,
label,
input,
textarea,
time {
	font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headline-font;
	font-weight: normal;
	margin-bottom: 1em;
	margin-inline: 10px;

	@media (width > 600px) {
		margin-inline: $side-padding;
	}

	&.alone {
		margin-block: 3rem;
	}
}

h1 {
	font-style: italic;
	margin-bottom: 0.5rem;
}

h1 a {
	font-family: $spanfont;
	text-transform: uppercase;
	font-size: 2rem;
	font-style: normal;
	text-decoration: none;
	color: $textcolour;

	&:hover {
		background-color: transparent;
		color: $textcolour;
	}
}

h1 abbr {
	font-variant-caps: all-small-caps;
	text-decoration: none;
}

h2 {
	font-size: 2.5rem;
	font-variant-caps: small-caps;
}

h3 {
	font-size: 2rem;
	font-variant-caps: small-caps;
}

p.lede {
	font-size: 2.25rem;
}

section {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-inline: 0;
	}
}

body.home {
	h1 a {
		font-size: 2rem;

		@media (width >= 768px) {
			font-size: 4rem;
		}
	}
}

blockquote {
	padding-left: 15px;
	border-left: 3px double $linecolour;

	p {
		font-size: 1.25rem;
	}
}

p.comments-credit {
	font-size: 1.2rem;
	text-align: right;
}
